.reviews {
    background-image: url(../img/homepage/reviews-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    overflow: hidden;
    position: relative;
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
        top: 0;
        left: 0;
        z-index: 10;
    }
    .text-container {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-family: $muli;
        text-align: center;
        color: white;
        font-weight: 400;
        width: 80%;
        h1 {
            line-height: 45px;
            font-family: $lora;
            font-weight: normal;
        }
        .header-text-container {
            position: relative;
            margin-bottom: 30px;
            h3 {
                font-size: 30px;
                font-weight: normal;
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    .reviewer {
        margin-top: 20px;
    }
    .review-container-large {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    .review-container-small {
        display: flex;
        transition: 1s;
        align-items: center;
        width: 300%;
    }
    .reviews-user-review {
        width: 100%;
    }
    .circles-container-reviews {
        display: flex;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .read-more-container {
        position: absolute;
        bottom: 40px;
        width: 200px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        &.button {
            outline: 2px solid white;
            &:hover {
                outline: none;
            }
        }
        p.link-to-reviews {
            font-size: 18px;
            font-family: $lora;
        }
    }
    .timer {
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        animation: timer linear infinite 5s;
    }

    @keyframes timer {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @media(max-width: 1000px) {
        height: 40vh;
        .text-container {
            h1 {
                font-size: 24px;
                line-height: 35px;
            }
        }
    }

    @media(max-width: 800px) {
        .circles-container-reviews {
            bottom: 20px;
        }
        .reviewer {
            margin-top: 0;
        }
        .header-text-container {
            margin-bottom: 20px;
        }
    }

    @media(max-width: 500px) {
        height: 40vh;
        .text-container {
            text-align: left;
            h1 {
                font-size: 18px;
                
            }
            width: 90%;
            .header-text-container {
                margin-bottom: 20px;
                h3 {
                    font-size: 27px;
                }
            }
        }
        .reviewer {
            margin-top: 10px;
        }
        
    }
    @media(max-width: 360px) {
        height: 60vh;
    }
    


}