section.rooms {
    .jungle-container {
        .left {
            background-image: url(../img/Rooms/Room1.jpg);
        }
        .right button {
            margin: 40px auto 20px;
            display: block;
        }
    }
}