section.rooms {
    .about-us {
        max-width: 900px;
        margin: 80px auto;
        padding: 0 40px;
        overflow: hidden;
        h2 {
            text-align: center;
            margin: 30px 0;
        }
        .about-us-main {
            display: flex;
            .left, 
            .right {
                transition: 1s;
                position: relative;
            }
            .left {
                width: 100%;
            }
            .right {
                width: 420px;
                margin-left: 50px;
                .descriptor {
                    width: 100%;
                }
            }
        }
        // Initial Shift Classes Added on ComponentDidMount()
        .shift-and-hide-left-boxes {
            left: -100px;
            opacity: 0;
        }
        .shift-and-hide-right-boxes {
            right: -100px;
            opacity: 0;
        }
        // Animations to be added on scroll
        .animate-left {
            opacity: 1;
            left: 0;
        }
        .animate-right {
            opacity: 1;
            right: 0px;
        }
    }
    @media(max-width: 750px) {
        .about-us {
            margin: 60px auto;
            h2 {
                font-size: 32px;
            }
            .about-us-main {
                flex-direction: column;
                .left,
                .right {
                    margin: 0 auto;
                }
                .left{
                    order: 2;
                }
                .right {
                    order: 1;
                    margin-left: auto;
                    margin-bottom: 30px;
                    width: 100%;
                }
            }
        }
    }
}