.rooms-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 50;
    overflow: hidden;
    
    .room-slider-container {
        display: flex;
        width: fit-content;
    }
    .right-arrow,
    .left-arrow {
        position: absolute;
        top: 48%;
        z-index: 30;
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    .left-arrow {
        left: 50px;
    }
    // position right arrow
    .right-arrow {
        right: 50px;
    }
    // Close Button
    .close-button svg {
        color: $black;
    }


    .room-container {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        padding: 0 120px;
        display: flex;
        align-items: center; 
        transition: 0.3s;
        justify-content: center;
    }

    .room-container-left,
    .room-container-right {
        position: relative;
        transition: 0.5s;
    }

    .room-container-left {
        width: 60%;
        img {
            box-shadow: $shadow;
            width: 100%;
            display: block;
        }
    }
    .room-container-right {
        width: 40%;
        padding: 0px 0 0 50px;
        color: $black;
        .top-text {
            position: relative;
            margin-bottom: 30px;
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                background-color: rgb(247, 247, 247);
                height: 3px;
            }
            p {
                font-family: $lora;
            }
        }
        h2 {
            font-family: $muli;
            font-size: 32px;
            margin-bottom: 10px;
        }
        .from {
            font-size: 15px;
            margin-bottom: 3px;
        }
        h1 {
            font-size: 34px;
        }
        
        .description {
            margin: 15px 0 25px;
            padding-bottom: 25px;
        }
        .button {
            margin-top: 20px;
            font-size: 18px;
        }
    }
}

// Everything below is new
    // .room-categories-title {
    //     text-align: center;
    //     margin: 20px 0;
    // }
    

    // .slider-container-large {
    //     width: max-content;
    //     margin: 0 auto;
    //     overflow: hidden;
    // }
    // .slider-container-small {
    //     display: flex;
    // }

    
    

    // .line {
    //     position: absolute;
    //     top: -50px;
    //     width: 100px;
    //     height: 2px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background-color: $orange;
    // }

//     section.rooms.rooms-two {
//     overflow: hidden;
//     h2.room-title {
//         text-align: center;
//         margin: 40px 0 30px;
//     }
//     h2.room-title-yoga,
//     h2.room-title-cottage {
//         margin: 0 0 30px;
//         text-align: center;
//     }
//     .about-us {
//         margin: 30px auto;
//     }
//     .room-container:first-of-type {
//         padding: 25px 200px 100px;
//     }
//     .split-container {
//         display: flex;
//         margin-bottom: 100px;
//         .left,
//         .right {
//             width: 50%;
//             padding: 50px;
//             button {
//                 display: inherit;
//                 margin: 40px auto 0;
//             }
//             // box-shadow: $shadow;
//         }
//         .left {
//             box-shadow: 8px -15px 19.11px 1.89px rgba(0,0,0,0.19);
//         }
//     }
//     .descriptors {
//         width: 100%;
//         margin-top: 50px;
//     }
//     .right .descriptors {
//         margin-top: 75px;
//     }
//     .paradise {
//         font-family: $lora;
//         margin-bottom: 20px;
//     }
//     .room-container  {
//         padding: 0;
//         margin: 0 0 100px;
//     }
//     .room-container-right {
//         // margin-top: 40px;
//     }
    
    
// }