#sirvoy {
  margin-top: 200px;
  // the same width that the logo shrinks for mobile
  @media (max-width: 570px) {
    margin-top: 80px;
  }
}

.bewarp {
  float: left;
  margin-left: 200px;
}
#eZ_chkin {
  width: 140px;
}
