.about {
    h2 {
        font-size: 36px;
        line-height: 45px;
    }
    margin-top: 35px;
    color: $black;
    // Align horizontaly and center
    .row {
        display: flex;
        justify-content: center;
    }
    // Format size and text for both text boxes
    .box-text {
        width: 465px;
        p {
            margin-top: 11px;
        }
        p.text {
            font-size: 15px;
        }
        p.number {
            font-weight: 400;
        }
    }
    // Format size of boxes with images and add box-shadow
    .box-image {
        height: 700px;
        box-shadow: $shadow;
        width: 500px;
    }
    // Format image within container
    .box img {
        display: block;
        height: 100%;
        width: 100%;
    }
    .box2 {
        // Padding top and right for box
        padding: 70px 0px 0 70px;
        // Add space above and below paragraph text
        .paragraph-container {
            margin: 15px 0;
        }
        // Bring numbers to start of container and add spacing on top and bottom
        .numbers-container-large {
            margin-top: 25px;
            .row {
                justify-content: flex-start;
                margin: 20px 0;
            }
        }
        // Center numbers text and add margin right to each container
        .numbers-individual-container {
            text-align: center;
            margin-right: 50px;
            width: 85px;
        }
        // format numbers and add surrounding circle
        .number {
            font-family: $lora;
            font-size: 33px;
            font-weight: 700;
            border: 2px solid $black;
            border-radius: 50%;
            display: inline-block;
            width: 65px;
            height: 65px;
            padding: 8px 0;
        }
    }
    // For animation effects
    .box {
        transition: 1s;
        position: relative;
        height: 100%;
    }
    // Position box1 and box4 to add overlapping effect
    .box1 {
        z-index: 10;
    }
    .container-large {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .container-small {
        display: flex;
    }
    .box3 {
        // Add spacing above text
        padding: 150px 60px 0 0;
        // Add spacing on top and bottom of paragraph text
        p {
            margin: 10px 0 30px;
        }
    }
    .box4 {
        top: -73px;
    }
    // Initial Shift Classes Added on ComponentDidMount()
    .shift-and-hide-left-boxes {
        left: -100px;
        opacity: 0;
    }
    .shift-and-hide-right-boxes {
        right: -100px;
        opacity: 0;
    }
    // Animations to be added on scroll
    .animate-box1 {
        opacity: 1;
        left: -10px;
    }
    .animate-box2 {
        opacity: 1;
        right: 0px;
    }
    .animate-box3 {
        opacity: 1;
        left: 0;
    }
    .animate-box4 {
        opacity: 1;
        right: 0;
    }
    // .timer {
    //     position: absolute;
    //     bottom: 0;
    //     background-color: white;
    //     height: 5px;
    //     animation: timer infinite 4s linear;
    // }
    
    // @keyframes timer {
    //     0% {
    //         width: 0;
    //     }
    //     100% {
    //         width: 100%;
    //     }
    // }

    
}