.activities {
    // Separating top and bottom of section from other sections
    margin: 100px 0 150px 0;
    // Placing section in a small wrapper
    .wrapper-small {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    // Formatting both sides of section
    .left,
    .right {
        width: 360px;
        margin: 0 20px;
        position: relative;
        height: 485px;
    }
    // Lowering text starting position of right side
    .right {
        padding: 120px 13px 0 0;
    }
    // formatting h2
    h2 {
        font-family: $lora;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 36px;
    }
    p.lh-30 {
        width: 411px;
    }
    // position left arrow
    .right-arrow,
    .left-arrow {
        position: absolute;
        top: 48%;
        img {
            width: 20px;
        }
    }
    .left-arrow {
        left: -80px;
    }
    // position right arrow
    .right-arrow {
        right: -120px;
    }
    // Formatting container of all circles
    .circles-container {
        display: flex;
        justify-content: center;
    }
    // Formatting Large image container
    .image-container-large {
        width: 360px;
        overflow: hidden;
    }
    // Formatting small container within large container
    .image-container-small {
        display: flex;
        transition: 0.2s;
        align-items: center;
    }
    // Formatting each image within the container to be the exact size of the large container
    img {
        display: block;
        width: 360px;
        border-radius: 10px;
    }
    // Arranging all words in a horizontal row within container
    .title-container {
        display: flex;
    }
    // Formatting large container that holds third word
    .text-container-large {
        overflow: hidden;
    }
    // Formatting container that holds all words that slide
    .text-container-small {
        display: flex;
        transition: 0.2s;
        width: 100%;
    }
    // Adding padding to each word that slides so there is no overlap
    .textIndex {
        padding-right: 10px;
    }
    .paragraph-container-large {
        width: 360px;
        overflow: hidden;
    }
    .paragraph-container-small {
        display: flex;
        align-items: center;
        transition: 0.2s;
    }
}