// General Styles for LogoNav
// Applies to the one in the header, and fixed one below the header
.logo-nav {
    height: 20vh;
    padding: 40px 40px 0 40px;
    z-index: 30;
    position: relative;
    top: 0;
    left: 0;
}

.logo-nav-top-left {
    float: left;
    img {
        width: 150px;
    }
}
.logo-nav-top-right {
    float: right;
    padding-top: 20px;
}

// Refers to both the fixed logoNav and fixed book button
.fixed-section {
    display: none;
    position: fixed;
    z-index: 20;
}

// Specific to the fixed navigation menu
.fixed-nav {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    width: 100vw;
    .logo-nav {
        height: 110px;
        padding: 30px 40px 0 30px;
    }
}
// Specific to the fixed book button
.fixed-book-button {
    top: 50%;
    right: 40px;
}

// Hamburger Menu
nav.ham-nav {
    display: flex;
    #ham-menu {
        display: none;
        list-style: none;
        color: $black;
    }
    #ham-menu.show {
        display: flex;
        transform: translateX(0);
        animation: fadeIn linear 0.3s;
        li {
            margin: -6px 50px 0 0;
            font-size: 24px;
            font-family: $lora;
        }
    }
    #ham-menu.fadeOut {
        animation: fadeOut linear 0.3s;
    }
    
    // Ham Menu Icon
    #ham-icon {
        width: 40px;
        height: 45px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        border: none;
        background-color: rgba(0,0,0,0);
    }

    #ham-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #ham-icon span:nth-child(1) {
        top: 0px;
    }

    #ham-icon span:nth-child(2),#ham-icon span:nth-child(3) {
        top: 10px;
    }

    #ham-icon span:nth-child(4) {
        top: 20px;
    }

    #ham-icon.open span:nth-child(1) {
        top: 30px;
        width: 0%;
        left: 50%;
    }

    #ham-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #ham-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #ham-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

