.reviews {
    background-image: url(../img/reviews-background.png);
    background-size: cover;
    background-position: center 70px;
    background-repeat: no-repeat;
    height: 90vh;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    .overlay {
        position: absolute;
        height: 82vh;
        margin-top: 70px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
        // background-color: rgba(0,0,0,0.3);
        top: 0;
        left: 0;
        z-index: 10;
    }
    .text-container {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-family: $muli;
        text-align: center;
        color: white;
        font-weight: 400;
        h1 {
            line-height: 45px;
            font-family: $lora;
            font-weight: normal;
        }
        .header-text-container {
            position: relative;
            margin-bottom: 30px;
            h3 {
                font-size: 30px;
                font-weight: normal;
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    .reviewer {
        margin-top: 20px;
    }
    .review-container-large {
        width: 1000px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    .review-container-small {
        display: flex;
        transition: 1s;
        align-items: center;
    }
    .reviews-user-review {
        width: 100%;
    }
    // .circles-container-reviews {
    //     display: flex;
    //     position: absolute;
    //     top: 40px;
        // bottom: 20px;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }
    .read-more-container {
        position: absolute;
        bottom: 40px;
        width: 200px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        &.button {
            outline: 2px solid white;
            &:hover {
                outline: none;
            }
        }
        p.link-to-reviews {
            font-size: 18px;
            font-family: $lora;
        }
    }
    .timer {
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 70px;
        animation: timer linear infinite 5s;
    }

    @keyframes timer {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @media(max-width: 1000px) {
        .review-container-large {
            width: 100%;
            padding: 50px;
        }
        .review-container-small {
            width: 300%;
            padding: 0 50px;
        }
        h1 {
            font-size: 24px;
        }
    }


}