section.rooms {
    position: relative;
    header {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }
    .arrow-container {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 60px;
        }
    }
    .rooms-body {
        position: relative;
        width: 100%;
        background-color: white;
        padding-top: 80px;
        border-top: 10px solid $orange;
        overflow: hidden;
    }
    .room-container {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 70px;
        display: flex;
    }
    .room-container-left,
    .room-container-right {
        position: relative;
        transition: 0.5s;
    }

    .room-container-left {
        width: 60%;
        img {
            box-shadow: $shadow;
            width: 100%;
            display: block;
        }
    }
    .room-container-right {
        width: 40%;
        padding: 0px 0 0 50px;
        color: $black;
        .top-text {
            position: relative;
            margin-bottom: 30px;
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                background-color: rgb(247, 247, 247);
                height: 3px;
            }
            p {
                font-family: $lora;
            }
        }
        h2 {
            font-family: $muli;
            font-size: 32px;
            margin-bottom: 10px;
        }
        .from {
            font-size: 15px;
            margin-bottom: 3px;
        }
        h1 {
            font-size: 34px;
        }
        .descriptors {
            margin-top: 20px;
            .descriptor {
                display: flex;
                padding: 9px 0px 7px 15px;
                width: 97%;
                p {
                    padding-left: 10px;
                }
                svg {
                    padding-top: 3px;
                    margin-top: 4px;
                }
            }
            .descriptor:nth-child(even) {
                background-color: #f3c5ae;
            }
            .descriptor:nth-child(odd) {
                background-color: #fce6da;;
            }
        }
        .description {
            margin: 15px 0 25px;
            padding-bottom: 25px;
        }
        .button {
            margin-top: 20px;
            font-size: 18px;
        }
    }
    // Initial Shift Classes Added on ComponentDidMount()
    .shift-and-hide-left-boxes {
        left: -200px;
        opacity: 0;
    }
    .shift-and-hide-right-boxes {
        right: -200px;
        opacity: 0;
    }
    // Animations to be added on scroll
    .animate-left {
        opacity: 1;
        left: 0px;
    }
    .animate-right {
        opacity: 1;
        right: 0px;
    }
}