.casa-horizon-highlight {
  background-image: url('../images/Homepage/beach-new-marker.jpg');
  background-size: cover;
  background-position: center -150px;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 50px;
  z-index: 21;
  h2 {
    color: white;
    font-size: 100px;
    font-family: $muli;
    position: relative;
    z-index: 23;
  }
  .overlay {
    background-color: rgba($black, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
  }
  @media screen and (max-width: 1250px) {
    background-position: center -100px;
  }
  @media screen and (max-width: 1000px) {
    background-position: center;
    height: 300px;
    h2 {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 750px) {
    background-position: center;
    h2 {
      font-size: 40px;
    }
  }
}
