section.rooms {
  // Bottom images sectin of beachfront cottage and jungle
  .images-slider {
    display: flex;
    width: 100%;
    margin: 25px 0 150px;
    border-bottom: 5px solid $orange;
    height: 200px;
  }

  .image-container {
    width: 100%;
    box-shadow: $shadow;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      text-align: center;
      font-family: $lora;
      font-size: 28px;
      color: white;
      font-weight: normal;
      color: $white;
      z-index: 2;
      position: relative;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
