section.rooms {
    position: relative;

    // Used in the room categories sections and Images Slider
    .overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            opacity: 0;
            transition: 0.2s;
        }
    }
}

section.rooms,
.rooms-modal {
    // In the about-us section and rooms modal
    .descriptors {
        .descriptor {
            display: flex;
            padding: 9px 0px 7px 15px;
            width: 97%;
            p {
                padding-left: 10px;
            }
            svg {
                padding-top: 3px;
                margin-top: 4px;
            }
        }
        .descriptor:nth-child(even) {
            background-color: #f3c5ae;
        }
        .descriptor:nth-child(odd) {
            background-color: #fce6da;;
        }
    }
}


    

    
