article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.center {
  text-align: center; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

h2 {
  font-family: "Lora", serif;
  font-size: 46px;
  font-weight: 300; }

p {
  font-family: "Muli", sans-serif;
  font-size: 18px; }

.lh-30 {
  line-height: 26px; }

.button {
  text-decoration: none;
  font-size: 22px;
  border: none;
  color: #31322b;
  outline: 2px solid #31322b;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 22px;
  font-family: "Lora", serif;
  transition: 0.2s;
  cursor: pointer; }
  .button:hover {
    background-color: #f29f77;
    color: white;
    outline: none;
    transition: 0.2s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.stop-scroll {
  overflow: hidden;
  scroll-behavior: no; }

.logo-nav {
  padding: 40px 40px 0 40px;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%; }

.logo-nav-top-left {
  float: left; }
  .logo-nav-top-left img {
    width: 150px; }

.logo-nav-top-right {
  float: right;
  padding-top: 20px; }
  .logo-nav-top-right a {
    text-decoration: none;
    color: #31322b;
    transition: 0.2s; }
    .logo-nav-top-right a:hover {
      transform: scale(1.1);
      transition: 0.2s; }

.non-header-styling {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 30px 40px 20px 40px; }
  .non-header-styling .logo-nav {
    height: 110px;
    padding: 30px 40px 0 30px; }
  .non-header-styling .logo-nav-top-right a {
    color: #31322b; }
  .non-header-styling nav.ham-nav
#ham-icon span {
    background: #31322b; }

.book-button {
  position: fixed;
  top: 50%;
  right: 40px;
  display: none;
  z-index: 20; }

nav.ham-nav {
  display: flex; }
  nav.ham-nav #ham-menu {
    display: none;
    list-style: none;
    color: #31322b; }
  nav.ham-nav #ham-menu.show {
    display: flex;
    transform: translateX(0);
    animation: fadeIn linear 0.3s; }
    nav.ham-nav #ham-menu.show li {
      margin: -6px 50px 0 0;
      font-size: 24px;
      font-family: "Lora", serif; }
  nav.ham-nav #ham-menu.fadeOut {
    animation: fadeOut linear 0.3s; }
  nav.ham-nav #ham-icon {
    width: 40px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s; }
    nav.ham-nav #ham-icon:hover span {
      transform: scaleX(1.2);
      transition: 0.2s; }
    nav.ham-nav #ham-icon:hover span:nth-child(2),
    nav.ham-nav #ham-icon:hover span:nth-child(3) {
      top: 14px; }
    nav.ham-nav #ham-icon:hover span:nth-child(4) {
      top: 28px; }
  nav.ham-nav #ham-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #31322b;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  nav.ham-nav #ham-icon span:nth-child(1) {
    top: 0px; }
  nav.ham-nav #ham-icon span:nth-child(2), nav.ham-nav #ham-icon span:nth-child(3) {
    top: 10px; }
  nav.ham-nav #ham-icon span:nth-child(4) {
    top: 20px; }
  nav.ham-nav #ham-icon.open span:nth-child(1) {
    top: 30px;
    width: 0%;
    left: 50%; }
  nav.ham-nav #ham-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  nav.ham-nav #ham-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  nav.ham-nav #ham-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

.home header {
  background-image: url(../img/Hero-Image-latest.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  position: relative;
  top: -50px; }
  .home header .logo-nav {
    top: 50px; }
  .home header h1 {
    font-family: "Lora", serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    padding-top: 70px;
    line-height: 38px; }
  .home header .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    top: 25vh; }
    .home header .text-container .arrow-container {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%); }
      .home header .text-container .arrow-container img {
        width: 60px; }

@keyframes fadeAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.97); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes shrink {
  0% {
    background-size: 105% 105%; }
  100% {
    background-size: 100% 100%; } }

.traveler-info {
  position: relative;
  top: -90px; }
  .traveler-info .boxes-container {
    display: flex;
    justify-content: center; }
  .traveler-info .box {
    box-shadow: 8px 4px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: #f7b896;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
    color: #31322b;
    padding: 42px 42px 42px;
    position: relative;
    top: 0;
    transition: 0.2s; }
  .traveler-info .box2 {
    margin: 0 30px; }
  .traveler-info .text-container {
    width: 292px; }
  .traveler-info h2 {
    font-size: 26px;
    font-weight: 400; }
  .traveler-info p {
    font-size: 16px;
    margin-top: 10px; }
  .traveler-info .book-button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); }
  .traveler-info .hideAndSlideDown {
    opacity: 0;
    top: 100px; }

.about {
  margin-top: -15px;
  color: #31322b; }
  .about h2 {
    font-size: 36px;
    line-height: 45px; }
  .about .row {
    display: flex;
    justify-content: center; }
  .about .box-text {
    width: 465px; }
    .about .box-text p {
      margin-top: 11px; }
    .about .box-text p.text {
      font-size: 15px; }
    .about .box-text p.number {
      font-weight: 400; }
  .about .box-image {
    height: 700px;
    box-shadow: 8px 4px 19.11px 1.89px rgba(0, 0, 0, 0.19);
    width: 500px; }
  .about .box img {
    display: block;
    height: 100%;
    width: 100%; }
  .about .box2 {
    padding: 70px 0px 0 70px; }
    .about .box2 .paragraph-container {
      margin: 15px 0; }
    .about .box2 .numbers-container-large {
      margin-top: 25px; }
      .about .box2 .numbers-container-large .row {
        justify-content: flex-start;
        margin: 20px 0; }
    .about .box2 .numbers-individual-container {
      text-align: center;
      margin-right: 50px;
      width: 85px; }
    .about .box2 .number {
      font-family: "Lora", serif;
      font-size: 33px;
      font-weight: 700;
      border: 2px solid #31322b;
      border-radius: 50%;
      display: inline-block;
      width: 65px;
      height: 65px;
      padding: 8px 0; }
  .about .box {
    transition: 1s;
    position: relative;
    height: 100%; }
  .about .box1 {
    z-index: 10; }
  .about .container-large {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .about .container-small {
    display: flex; }
  .about .box3 {
    padding: 150px 60px 0 0; }
    .about .box3 p {
      margin: 10px 0 30px; }
  .about .box4 {
    top: -73px; }
  .about .shift-and-hide-left-boxes {
    left: -100px;
    opacity: 0; }
  .about .shift-and-hide-right-boxes {
    right: -100px;
    opacity: 0; }
  .about .animate-box1 {
    opacity: 1;
    left: -10px; }
  .about .animate-box2 {
    opacity: 1;
    right: 0px; }
  .about .animate-box3 {
    opacity: 1;
    left: 0; }
  .about .animate-box4 {
    opacity: 1;
    right: 0; }

.reviews {
  background-image: url(../img/reviews-background.png);
  background-size: cover;
  background-position: center 70px;
  background-repeat: no-repeat;
  height: 90vh;
  overflow: hidden;
  margin-top: -70px;
  position: relative; }
  .reviews .overlay {
    position: absolute;
    height: 82vh;
    margin-top: 70px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    top: 0;
    left: 0;
    z-index: 10; }
  .reviews .text-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Muli", sans-serif;
    text-align: center;
    color: white;
    font-weight: 400; }
    .reviews .text-container h1 {
      line-height: 45px;
      font-family: "Lora", serif;
      font-weight: normal; }
    .reviews .text-container .header-text-container {
      position: relative;
      margin-bottom: 30px; }
      .reviews .text-container .header-text-container h3 {
        font-size: 30px;
        font-weight: normal; }
  .reviews a {
    text-decoration: none;
    color: white; }
  .reviews .reviewer {
    margin-top: 20px; }
  .reviews .review-container-large {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    position: relative; }
  .reviews .review-container-small {
    display: flex;
    transition: 1s;
    align-items: center; }
  .reviews .reviews-user-review {
    width: 100%; }
  .reviews .read-more-container {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white; }
    .reviews .read-more-container.button {
      outline: 2px solid white; }
      .reviews .read-more-container.button:hover {
        outline: none; }
    .reviews .read-more-container p.link-to-reviews {
      font-size: 18px;
      font-family: "Lora", serif; }
  .reviews .timer {
    background-color: white;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 70px;
    animation: timer linear infinite 5s; }

@keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.activities {
  margin: 100px 0 150px 0; }
  .activities .wrapper-small {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
  .activities .left,
  .activities .right {
    width: 360px;
    margin: 0 20px;
    position: relative;
    height: 485px; }
  .activities .right {
    padding: 120px 13px 0 0; }
  .activities h2 {
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 36px; }
  .activities p.lh-30 {
    width: 411px; }
  .activities .right-arrow,
  .activities .left-arrow {
    position: absolute;
    top: 48%; }
    .activities .right-arrow img,
    .activities .left-arrow img {
      width: 20px; }
  .activities .left-arrow {
    left: -80px; }
  .activities .right-arrow {
    right: -120px; }
  .activities .circles-container {
    display: flex;
    justify-content: center; }
  .activities .image-container-large {
    width: 360px;
    overflow: hidden; }
  .activities .image-container-small {
    display: flex;
    transition: 0.2s;
    align-items: center; }
  .activities img {
    display: block;
    width: 360px;
    border-radius: 10px; }
  .activities .title-container {
    display: flex; }
  .activities .text-container-large {
    overflow: hidden; }
  .activities .text-container-small {
    display: flex;
    transition: 0.2s;
    width: 100%; }
  .activities .textIndex {
    padding-right: 10px; }
  .activities .paragraph-container-large {
    width: 360px;
    overflow: hidden; }
  .activities .paragraph-container-small {
    display: flex;
    align-items: center;
    transition: 0.2s; }

.surf {
  position: relative; }
  .surf .background {
    background-image: url(../img/surfing.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px; }
  .surf .text-container {
    width: 650px;
    font-family: "Lora", serif;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%); }
    .surf .text-container h2 {
      font-size: 40px;
      color: #31322b;
      font-weight: 400;
      margin-bottom: 50px; }
  .surf .vertical-line {
    position: absolute;
    background-color: #31322b;
    width: 1px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: -70px; }

section.rooms {
  position: relative; }
  section.rooms header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  section.rooms video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; }
  section.rooms .arrow-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }
    section.rooms .arrow-container img {
      width: 60px; }
  section.rooms .rooms-body {
    position: relative;
    width: 100%;
    background-color: white;
    padding-top: 80px;
    border-top: 10px solid #f29f77;
    overflow: hidden; }
  section.rooms .room-categories-container {
    display: flex;
    margin-bottom: 80px; }
  section.rooms .room-categories-title {
    text-align: center;
    margin: 20px 0; }
  section.rooms #room-category-0 {
    background-image: url(../img/house/casa-courtyard.jpg); }
  section.rooms #room-category-1 {
    background-image: url(../img/house/balcony-sunset.jpg); }
  section.rooms #room-category-2 {
    background-image: url(../img/rooms/Room6.jpg); }
  section.rooms .room-category {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 8px 4px 19.11px 1.89px rgba(0, 0, 0, 0.19);
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden; }
    section.rooms .room-category h3 {
      font-size: 34px;
      font-weight: normal;
      color: white;
      font-family: "Lora", serif; }
  section.rooms .slider-container-large {
    width: max-content;
    margin: 0 auto;
    overflow: hidden; }
  section.rooms .slider-container-small {
    display: flex; }
  section.rooms .room-container {
    width: 100vw;
    margin: 0 auto;
    padding: 100px 200px;
    display: flex; }
  section.rooms .room-container-left,
  section.rooms .room-container-right {
    position: relative;
    transition: 0.5s; }
  section.rooms .room-container-left {
    width: 60%; }
    section.rooms .room-container-left img {
      box-shadow: 8px 4px 19.11px 1.89px rgba(0, 0, 0, 0.19);
      width: 100%;
      display: block; }
  section.rooms .room-container-right {
    width: 40%;
    padding: 0px 0 0 50px;
    color: #31322b; }
    section.rooms .room-container-right .top-text {
      position: relative;
      margin-bottom: 30px; }
      section.rooms .room-container-right .top-text:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        height: 3px; }
      section.rooms .room-container-right .top-text p {
        font-family: "Lora", serif; }
    section.rooms .room-container-right h2 {
      font-family: "Muli", sans-serif;
      font-size: 32px;
      margin-bottom: 10px; }
    section.rooms .room-container-right .from {
      font-size: 15px;
      margin-bottom: 3px; }
    section.rooms .room-container-right h1 {
      font-size: 34px; }
    section.rooms .room-container-right .descriptors {
      margin-top: 20px; }
      section.rooms .room-container-right .descriptors .descriptor {
        display: flex;
        padding: 9px 0px 7px 15px;
        width: 97%; }
        section.rooms .room-container-right .descriptors .descriptor p {
          padding-left: 10px; }
        section.rooms .room-container-right .descriptors .descriptor svg {
          padding-top: 3px;
          margin-top: 4px; }
      section.rooms .room-container-right .descriptors .descriptor:nth-child(even) {
        background-color: #f3c5ae; }
      section.rooms .room-container-right .descriptors .descriptor:nth-child(odd) {
        background-color: #fce6da; }
    section.rooms .room-container-right .description {
      margin: 15px 0 25px;
      padding-bottom: 25px; }
    section.rooms .room-container-right .button {
      margin-top: 20px;
      font-size: 18px; }
  section.rooms .shift-and-hide-left-boxes {
    left: -200px;
    opacity: 0; }
  section.rooms .shift-and-hide-right-boxes {
    right: -200px;
    opacity: 0; }
  section.rooms .animate-left {
    opacity: 1;
    left: 0px; }
  section.rooms .animate-right {
    opacity: 1;
    right: 0px; }
  section.rooms .building-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto; }
    section.rooms .building-container .left,
    section.rooms .building-container .right {
      width: 50%; }
      section.rooms .building-container .left img,
      section.rooms .building-container .right img {
        width: 100%;
        display: block; }
    section.rooms .building-container .left {
      box-shadow: 8px 4px 19.11px 1.89px rgba(0, 0, 0, 0.19);
      background-image: url(../img/house/cottage-inside-1.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    section.rooms .building-container h1 {
      text-align: center; }
    section.rooms .building-container .text-container {
      padding: 10px 0 10px 60px; }
      section.rooms .building-container .text-container h2 {
        font-size: 36px; }
      section.rooms .building-container .text-container p {
        line-height: 26px;
        font-size: 16px;
        margin: 10px 0; }
      section.rooms .building-container .text-container p.paradise {
        font-size: 18px;
        font-family: "Lora", serif;
        margin: 12px 0 15px; }
  section.rooms .cottage-container {
    display: flex;
    width: 100%;
    margin: 25px 0 80px; }
    section.rooms .cottage-container .cottage {
      width: 25%;
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 8px 4px 19.11px 1.89px rgba(0, 0, 0, 0.19);
      position: relative; }
      section.rooms .cottage-container .cottage h4 {
        color: white; }
    section.rooms .cottage-container .cottage1 {
      background-image: url(../img/house/balcony-sunset.jpg); }
    section.rooms .cottage-container .cottage2 {
      background-image: url(../img/house/cottage-balcony.jpg); }
    section.rooms .cottage-container .cottage3 {
      background-image: url(../img/house/cottage-inside-1.jpg); }
    section.rooms .cottage-container .cottage4 {
      background-image: url(../img/rooms/Room6.jpg); }
    section.rooms .cottage-container .cottage5 {
      background-image: url(../img/house/cottage-kitchen.jpg); }
  section.rooms .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; }
    section.rooms .overlay:hover {
      opacity: 0;
      transition: 0.2s; }
    section.rooms .overlay h4 {
      text-align: center;
      font-family: "Lora", serif;
      font-size: 28px;
      color: white;
      font-weight: normal;
      color: #31322b; }
  section.rooms .numbers-container-large {
    display: flex;
    color: #31322b;
    justify-content: space-between;
    margin-left: 60px; }
    section.rooms .numbers-container-large .number-container {
      text-align: center;
      width: 85px; }
      section.rooms .numbers-container-large .number-container .number {
        border: 2px solid #31322b;
        border-radius: 50%;
        padding: 8px 0;
        width: 65px;
        height: 65px;
        font-family: "Lora", serif;
        font-size: 33px;
        display: inline-block;
        font-weight: 400; }
      section.rooms .numbers-container-large .number-container .number-text {
        font-size: 16px;
        font-family: "Muli", sans-serif;
        margin-top: 10px; }
  section.rooms .jungle-house .building-container .left {
    background-image: url(../img/rooms/Room1.jpg); }
  section.rooms .jungle-house .cottage-container .cottage1 {
    background-image: url(../img/house/casa-courtyard.jpg); }
  section.rooms .jungle-house .cottage-container .cottage2 {
    background-image: url(../img/house/casa-inside-couch.jpg); }
  section.rooms .jungle-house .cottage-container .cottage3 {
    background-image: url(../img/rooms/Room1.jpg); }
  section.rooms .jungle-house .cottage-container .cottage4 {
    background-image: url(../img/house/yoga-large.jpg); }
  section.rooms .jungle-house .cottage-container .cottage5 {
    background-image: url(../img/house/casa-inside-kitchen.jpg); }

section.promo-video {
  position: relative;
  margin: 100px 0; }
  section.promo-video .video-container {
    max-width: 850px;
    margin: 0 auto;
    z-index: 29;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    section.promo-video .video-container video {
      width: 100%; }
    section.promo-video .video-container button {
      position: absolute;
      z-index: 99; }
  section.promo-video .promo-overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    display: none;
    align-items: center;
    justify-content: center; }
    section.promo-video .promo-overlay .video-container {
      margin: 0;
      max-width: 80%; }
    section.promo-video .promo-overlay .close-button {
      position: absolute;
      top: 50px;
      right: 50px;
      cursor: pointer;
      transition: 0.2s; }
      section.promo-video .promo-overlay .close-button svg {
        color: white;
        font-size: 40px; }
      section.promo-video .promo-overlay .close-button:hover {
        transition: 0.2s;
        transform: scale(1.2); }

footer {
  background-color: #386362;
  width: 100%;
  padding: 75px 30px 50px;
  display: flex;
  color: #fff;
  position: relative; }
  footer .column {
    width: 25%;
    padding: 0 10px; }
  footer h2 {
    font-size: 25px;
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 25px; }
  footer .column1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .column2 .social-media-icons svg {
    margin: 25px 10px 0 0;
    color: #386362;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: 0.2s; }
    footer .column2 .social-media-icons svg:hover {
      color: #fff;
      background-color: #386362;
      transition: 0.2s; }
  footer .column2 .margin-top {
    margin-top: 20px; }
  footer form {
    display: flex;
    flex-direction: column; }
    footer form input {
      background: #386362;
      color: white;
      font-family: "Muli", sans-serif;
      padding: 8px;
      border: 1px solid white;
      width: 90%;
      margin-bottom: 10px; }
    footer form input::placeholder {
      color: #fff;
      opacity: 1;
      font-family: "Muli", sans-serif; }
    footer form input::-webkit-input-placeholder {
      color: #fff;
      opacity: 1;
      font-family: "Muli", sans-serif; }
    footer form input::-moz-placeholder {
      color: #fff;
      opacity: 1;
      font-family: "Muli", sans-serif; }
    footer form input:-ms-input-placeholder {
      color: #fff;
      opacity: 1;
      font-family: "Muli", sans-serif; }
    footer form input[type=submit] {
      color: white;
      opacity: 1;
      font-family: "Muli", sans-serif;
      transition: 0.2s; }
      footer form input[type=submit]:hover {
        color: #386362;
        background-color: #fff; }
  footer .column4 .bold {
    font-weight: 700; }
  footer .column4 .email {
    margin-bottom: 20px; }
  footer iframe {
    border: none;
    overflow: hidden;
    width: 75%; }
